.cart {
  height: 100vh;
  border: 1px solid darkblue;
  width: 100%;
  margin: 10px;

  .title {
    color: #007bff;
    font-weight: 700;
    text-align: center;
  }

  .cartItem {
    padding: 10px;
    margin: 10px;
    border: 1px solid darkblue;
  }
}
